{% extends "base.html" %}

{% block title %}Types{% endblock %}

{% block links %}
	<a href="{{url_for("logout")}}">Logout</a>
{% endblock %}

{% block content %}
<div>
	<div class="columns">
		<div class="column">
			<h2 class="subtitle">Type 1</h2>
		</div>
		<div class="column">
			<h2 class="subtitle">Type 2</h2>
		</div>
		<div class="column">
			<h2 class="subtitle">Type 3</h2>
		</div>
	</div>
</div>
<div>
	<div class="columns">
		<div class="column">
			<h2 class="subtitle">Type 4</h2>
		</div>
		<div class="column">
			<h2 class="subtitle">Type 5</h2>
		</div>
		<div class="column">
			<h2 class="subtitle">Type 6</h2>
		</div>
	</div>
</div>
<div>
	<div class="columns">
		<div class="column">
			<h2 class="subtitle">Type 7</h2>
		</div>
		<div class="column">
			<h2 class="subtitle">Type 8</h2>
		</div>
		<div class="column">
			<h2 class="subtitle">Type 9</h2>
		</div>
	</div>
</div>
{% endblock %}
