{% extends "base.html" %}

{% block title %}Verify{% endblock %}

{% block content %}
<div class="columns">
	<div class="column is-half">
		<h1 class="title">Newspring Staff Enneagrams</h1>
		<h2 class="subtitle">A code was emailed to the address below</h2>
		<form action="{{url_for("index")}}" method="post">
			<div class="field">
				<div class="control">
					<input class="input is-static" type="text" name="email" value="{{email}}" readonly>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input" type="text" placeholder="Code" required>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button class="button is-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
